livekit-agents>=0.8.0
livekit-plugins-openai
livekit-plugins-silero
livekit-plugins-google
livekit-plugins-noise-cancellation
mem0ai
duckduckgo-search
langchain_community
requests
python-dotenv
PyJWT==2.8.0
gunicorn
uvicorn
fastapi
psutil
asyncio-throttle